body {
  font-family: Georgia, serif;
  background-color: cornsilk;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* ______________________________________HEADER_____________________________________________ */

.header-div {
  position: relative;
  font-size: 200%;
  font-family: inherit;
  color: white;
  padding: 20px;
}

.header-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/376152628_249e3630c0_o.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.header-title {
  margin-left: 10%;
}

/*________________________________________FOOTER________________________________________________________*/

.footer-div {
  position: relative;
  font-size: 200%;
  font-family: inherit;
  color: white;
  padding: 20px;
  margin-top: 100px;
  outline: solid #333 50px;
}

.footer-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/376152628_249e3630c0_o.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.footer-note {
  margin-left: 10%;
}

/* ________________________________________NAVBAR________________________________________________ */

#navbar {
  font-size: 200%;
  text-align: right;
  background-color: #333;
  padding: 15px;
}

#navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

#navbar a:hover {
  color: red;
}

/*_____________________________________________HOMEPAGE.JSX__________________________________________________*/

.homepageWelcome,
.homepageSecondaryTitle,
.homepageThirdTitle,
.homepageFourthTitle {
  text-align: center;
}

.homepageWelcome {
  font-size: 400%;
  margin-right: 20%;
}

.homepageSecondaryTitle {
  font-size: 200%;
  margin-left: 20%;
}

.homepageThirdTitle {
  font-size: 700%;
}

.homepageFourthTitle {
  font-size: 150%;
  margin-right: 10%;
}

/* ____________________________________________BOOK_CARD_________________________________________________ */

.bookCard {
  width: 350px;
  text-align: center;
  background-color: #333;
  border: 3px solid white;
  border-radius: 5%;
  padding: 30px;
  padding-top: 50px;
  color: white;
  font-size: 150%;
  margin-left: 5%;
  text-shadow: 13px 8px 8px black;
  box-shadow: 15px 10px 8px black;
}

.bookCard img {
  width: 250px;
  border: 3px solid white;
}

#all-books-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

/*___________________________________________BOOKS.JSX___________________________________________*/

.books-page-title {
  text-align: center;
  font-size: 400%;
  text-decoration: underline;
}

.book-search-bar {
  margin-left: 36%;
  margin-bottom: 3%;
  font-size: 150%;
  padding: 5px;
  width: 500px;
}

.search-book-title {
  text-align: center;
  font-size: 200%;
}

/*________________________________________REGISTER.JSX________________________________________________*/

.register-div {
  padding: 15%;
}

.register-title {
  text-align: center;
  font-size: 350%;
  text-decoration: underline;
}

.register-form {
  font-size: 150%;
  text-align: center;
}

.register-button {
  font-size: 100%;
  margin-top: 5%;
}

/*_________________________________________LOGIN.JSX________________________________________________*/

.login-div {
  padding: 15%;
}

.login-title {
  text-align: center;
  text-decoration: underline;
  font-size: 300%;
}

.login-form {
  margin-left: 30%;
  font-size: 150%;
}

.login-button {
  font-size: 100%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: white;
  color: #333;
}

/*_________________________________________ACCOUNT.JSX____________________________________________________*/

.pleaseLogIn {
  font-size: 200%;
  text-align: center;
  margin-top: 15%;
  padding: 15%;
}

.account-title {
  font-size: 250%;
  text-align: center;
  text-decoration: underline;
}

.user-information {
  font-size: 150%;
}

.user-email,
.user-first-name,
.user-last-name,
.no-books {
  margin-left: 5%;
  padding: 1%;
}

.checkout-title {
  text-align: center;
  text-decoration: underline;
}

/*_____________________________________________________________________________________________*/
